absl-py
astunparse
attrs
beautifulsoup4
blinker
branca
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
dnspython
exceptiongroup
filelock
Flask
Flask-PyMongo
flatbuffers
folium
fpdf
fsspec
fuzzywuzzy
gast
geographiclib
geopy
google-auth
google-auth-oauthlib
google-images-download
google-pasta
grpcio
gTTS
gunicorn
h11
h5py
huggingface-hub
icrawler
idna
importlib_metadata
itsdangerous
Jinja2
joblib
keras
Keras-Preprocessing
Levenshtein
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
ml-dtypes
mpmath
namex
networkx
numpy
oauthlib
opencv-python
opencv-python-headless
opt_einsum
optree
outcome
packaging
pandas
pillow
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
pymongo
PySocks
python-dateutil
python-Levenshtein
pyttsx3
pytz
PyYAML
RapidFuzz
regex
reportlab
requests
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
SpeechRecognition
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
Werkzeug
wrapt
wsproto
xyzservices
zipp
